body{
    margin: 0px;
}

h1{
    font-family: 'Montserrat';
}
.post-container{
    background-color: #fffafa;
    width: 70%;
    height: 100%;
    margin: 0px auto 0px auto;
}

.post-container .date{
    color:#008080;
    font-family: 'Roboto';
}

.post-container .post{
    margin-bottom: 50px;
    padding-top: 20px;
    padding-left: 20px;
}

.post-container div.post-content{
    font-family:  'Open Sans';
    width: 90%;   
}

